<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="dimmer.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="mainbody" role="presentation">
    <div class=" SQNfcc" id="view_container">
        <form class="overflowfix outermargin outerpadding" novalidate="" role="presentation">
            <div>
                <div><h1 class="CreateTextPadding CreateTextIndent" id="headingText">Create your Fagi Account</h1></div>
            </div>
            <div class="BodyTransform outermargin" role="presentation">
                <div class="Content ContentBorder " role="presentation">
                    <div class="ContentFont">
                        <div role="presentation">
                            <div class="ContentPadding Inner" role="presentation" >
                                <div class="InnerWidth InnerPadding KKdlBd PaddingTopFix PaddingBottomFix">
                                    <div class="UsernameHeight oJeWuf">
                                        <div class="FlexDisplay I0VJ4d PositionFix">
                                            <div class="FlexFix">
                                                <input autocomplete="username" class="TextInputField TextInputBorder" id="username"
                                                       name="Username" spellcheck="false" tabindex="0" type="text" >
                                                <div class="TextWrapperStyling TextWrapper">
                                                    Username
                                                </div>
                                            </div>
                                            <div class="i9lrp mIZh1c"></div>
                                        </div>
                                    </div>
                                    <div class="FollowText">
                                        <div class="ovnfwe Is7Fhb">You can use letters, numbers &amp; periods</div>
                                    </div>
                                </div>
                            </div>
                            <div ></div>
                        </div>
                        <div class="NTB7sf DbQnIe Inner">
                            <div class="XNyfPb">
                                <div class="jQ9OEf LK0i9 Inner">
                                    <div class="fZA7Dc">
                                        <div class="InnerWidth P7gl3b  PaddingTopFix PaddingBottomFix" id="passwd">
                                            <div class="UsernameHeight oJeWuf">
                                                <div class="FlexDisplay PositionFix">
                                                    <div class="FlexFix">
                                                        <input autocapitalize="off" autocomplete="new-password"
                                                               class="TextInputField TextInputBorder" name="Passwd"
                                                               spellcheck="false" tabindex="0" type="password">
                                                        <div class="TextWrapperStyling TextWrapper">Password</div>
                                                    </div>
                                                    <div class="i9lrp mIZh1c"></div>
                                                </div>
                                            </div>
                                            <div class="FollowText">
                                                <div class="ovnfwe Is7Fhb"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kTNrif" >Use 8 or more characters with a mix of letters, numbers &amp; symbols</div>
                                <div class="jQ9OEf LK0i9 Inner">
                                    <div class="fZA7Dc">
                                        <div class="InnerWidth P7gl3b  PaddingTopFix PaddingBottomFix" id="confirm-passwd">
                                            <div class="UsernameHeight oJeWuf">
                                                <div class="FlexDisplay PositionFix">
                                                    <div class="FlexFix">
                                                        <input autocapitalize="off" autocomplete="new-password" class="TextInputField TextInputBorder"
                                                               name="ConfirmPasswd" spellcheck="false" tabindex="0" type="password">
                                                        <div class="TextWrapperStyling TextWrapper">Confirm</div>
                                                    </div>
                                                    <div class="i9lrp mIZh1c"></div>
                                                </div>
                                            </div>
                                            <div class="FollowText">
                                                <div class="ovnfwe Is7Fhb"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="GtglAe" >
                        <div class="OZliR">
                            <div class="U26fgb O0WRkf zZhnYe e3Duub C0oVfc Zp5qWd Hj2jlf dKVcQ" id="accountDetailsNext"
                                 role="button">
                                <div class="Vwe4Vb MbhUzd" ></div>
                                <div class="ZFr60d CeoRYc"></div>
                                <span class="RveJvd TextWrapper">Next</span>
                            </div>
                        </div>
                        <div class="AIu8h">
                            <div class="IMH1vc lUHSR Hj2jlf" role="link" tabindex="0">Sign in instead</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>