<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="dimmer.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="xkfVF" role="presentation" tabindex="null">
    <div class=" SQNfcc vLGJgb" id="view_container">
        <div class="zWl5kd" data-locale="en-GB" style="">
            <div class="DRS7Fe outermargin outerpadding">
                <div class="jXeDnc">
                    <h1 data-a11y-title-piece="" id="headingText">
                        Sign in
                    </h1>
                    <div class="Y4dIwd" id="headingSubtext">
                        with your Fagi Account
                    </div>
                </div>
                <div class="outermargintransition outermargin">
                    <div class="ContentWidth ContentBorder ">
                        <div class="LoginWrapper bCAAsb">
                            <form method="post">
                                <div class="formmarginfix outermargin outerpadding">
                                    <div class="InnerWidth KSczvd uyaebd vHVGub PaddingTopFix PaddingBottomFix" id="username">
                                        <div class="UsernameHeight oJeWuf">
                                            <div class="FlexDisplay PositionFix FlexFix">
                                                <input autocapitalize="none" autocomplete="username" class="TextInputField TextInputBorder" dir="ltr" id="identifierId" onfocusout="app.checkusername(this.value)" spellcheck="false" tabindex="0" type="email"/>
                                                <div class="TextWrapperStyling TextWrapper">Username</div>
                                            </div>
                                            <div class="i9lrp mIZh1c"></div>
                                        </div>
                                        <div class="LXRPh">
                                            <div class="ovnfwe Is7Fhb" id="usernameLabel">You can use letters, numbers &amp; periods</div>
                                            <!--                                            <div class="dEOOab RxsGPe">-->
                                            <!--                                                <div class="GQ8Pzc">-->
                                            <!--                                                    <span class="TQGan">-->
                                            <!--                                                        <svg focusable="false" width="16px" height="16px" viewBox="0 0 24 24" fill="currentColor">-->
                                            <!--                                                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>-->
                                            <!--                                                            <path d="M0 0h24v24H0z" fill="none"></path>-->
                                            <!--                                                        </svg>-->
                                            <!--                                                    </span>-->
                                            <!--                                                </div>-->
                                            <!--                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="InnerWidth KSczvd uyaebd vHVGub  PaddingTopFix PaddingBottomFix">
                                        <div class="UsernameHeight oJeWuf">
                                            <div class="FlexDisplay PositionFix FlexFix">
                                                <input class="TextInputField TextInputBorder" id="identifierHiddenPassword" spellcheck="false" tabindex="-1" type="password"/>
                                                <div class="TextWrapperStyling TextWrapper">Password</div>
                                            </div>
                                            <div class="i9lrp mIZh1c"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="zQJV3">
                            <div class="dG5hZc">
                                <div class="qhFLie">
                                    <div class="U26fgb O0WRkf zZhnYe e3Duub C0oVfc nDKKZc DL0QTb" id="identifierNext" onclick="app.Login()" role="button" tabindex="0">
                                        <div class="ZFr60d CeoRYc"></div>
                                        <span class="RveJvd TextWrapper">Login</span>
                                    </div>
                                </div>
                                <div class="daaWTb" >
                                    <div class="OIPlvf">
                                        <div class="U26fgb O0WRkf oG5Srb HQ8yf C0oVfc nDKKZc NpwL8d t29vte G3hhxb" onclick="app.Create()" role="button" tabindex="0">
                                            <div class="ZFr60d CeoRYc"></div>
                                            <span class="RveJvd TextWrapper">Create account</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>