.root {
  -fx-border:0;
  -fx-margin:0;
  -fx-padding:0;
  -fx-font:90% arial, helvetica, sans-serif;
  -fx-background-color:#FFF;
  -fx-fill:#FFF;
  line-height:1;
  direction:ltr;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  font-size:1.54em;
  font-weight:normal;
  line-height:24px;
  margin:0 0 .46em;
}

p {
  line-height:17px;
  margin:0 0 1em;
}

html, body {
  position:absolute;
  height:100%;
  min-width:100%;
}

.wrapper {
  position:relative;
  min-height:100%;
}

.content {
  padding:0 44px;
}

.topbar {
  text-align:right;
  padding-top:.5em;
  padding-bottom:.5em;
}

.header .logo {
  margin:17px 0 0;
  float:left;
}

.header .signin,
.header .signup {
  margin:28px 0 0;
  float:right;
  font-weight:bold;
}

.header .signin-button,
.header .signup-button {
  margin:22px 0 0;
  float:right;
}

.header .signin-button a {
  font-size:13px;
  font-weight:normal;
}

.header .signup-button a {
  position:relative;
  top:-1px;
  margin:0 0 0 1em;
}

.main {
  margin:0px auto;
  width:650px;
  padding-top:23px;
  padding-bottom:100px;
}

.main h1:first-child {
  margin:0 0 .92em;
}

.fagile-footer-bar {
  position:absolute;
  bottom:0;
  height:35px;
  width:100%;
  border-top:1px solid #EBEBEB;
  overflow:hidden;
}

.footer {
  padding-top:9px;
  font-size:.85em;
  white-space:nowrap;
  line-height:0;
}

.footer ul {
  color:#999;
  float:left;
  max-width:80%;
}

.footer ul li {
  display:inline;
  padding:0 1.5em 0 0;
}

.footer a {
  color:#333;
}

.footer .lang-chooser-wrap {
  float:right;
  max-width:20%;
}

.footer .lang-chooser-wrap img {
  vertical-align:middle;
}

.footer .attribution {
  float:right;
}

.footer .attribution span {
  vertical-align:text-top;
}

.redtext {
  color:#DD4B39;
}

.greytext {
  color:#555;
}

.secondary {
  font-size:11px;
  color:#666;
}

.source {
  color:#093;
}

.hidden {
  display:none;
}

.clearfix:after {
  visibility:hidden;
  display:block;
  font-size:0;
  content:'.';
  clear:both;
  height:0;
}

* html .clearfix {
  zoom:1;
}

pre {
  font-family:monospace;
  position:absolute;
  left:0;
  margin:0;
  padding:1.5em;
  font-size:13px;
  background:#F1F1F1;
  border-top:1px solid #E5E5E5;
  direction:ltr;
}

button, input, select, textarea {
  font-family:inherit;
  font-size:inherit;
}

input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url] {
  -webkit-appearance:none;
  appearance:none;
  display:inline-block;
  height:29px;
  margin:0;
  padding:0 8px;
  background:#FFF;
  border:1px solid #D9D9D9;
  border-top:1px solid #C0C0C0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-border-radius:1px;
  -moz-border-radius:1px;
  border-radius:1px;
}

input[type=email]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=tel]:hover,
input[type=text]:hover,
input[type=url]:hover {
  border:1px solid #B9B9B9;
  border-top:1px solid #A0A0A0;
  -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus {
  outline:none;
  border:1px solid #4D90FE;
  -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

input[type=email][disabled=disabled],
input[type=number][disabled=disabled],
input[type=password][disabled=disabled],
input[type=tel][disabled=disabled],
input[type=text][disabled=disabled],
input[type=url][disabled=disabled] {
  border:1px solid #E5E5E5;
  background:#F1F1F1;
}

input[type=email][disabled=disabled]:hover,
input[type=number][disabled=disabled]:hover,
input[type=password][disabled=disabled]:hover,
input[type=tel][disabled=disabled]:hover,
input[type=text][disabled=disabled]:hover,
input[type=url][disabled=disabled]:hover {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

input[type=email][readonly=readonly],
input[type=number][readonly=readonly],
input[type=password][readonly=readonly],
input[type=text][readonly=readonly],
input[type=url][readonly=readonly] {
  border:1px solid #D9D9D9;
}

input[type=email][readonly=readonly]:hover,
input[type=number][readonly=readonly]:hover,
input[type=password][readonly=readonly]:hover,
input[type=text][readonly=readonly]:hover,
input[type=url][readonly=readonly]:hover,
input[type=email][readonly=readonly]:focus,
input[type=number][readonly=readonly]:focus,
input[type=password][readonly=readonly]:focus,
input[type=text][readonly=readonly]:focus,
input[type=url][readonly=readonly]:focus {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

input[type=checkbox].form-error,
input[type=email].form-error,
input[type=number].form-error,
input[type=password].form-error,
input[type=text].form-error,
input[type=tel].form-error,
input[type=url].form-error {
  border:1px solid #DD4B39;
}

input[type=checkbox],
input[type=radio] {
  -webkit-appearance:none;
  appearance:none;
  width:13px;
  height:13px;
  margin:0;
  cursor:pointer;
  vertical-align:bottom;
  background:#FFF;
  border:1px solid #DCDCDC;
  -webkit-border-radius:1px;
  -moz-border-radius:1px;
  border-radius:1px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  position:relative;
}

input[type=checkbox]:active,
input[type=radio]:active {
  border-color:#C6C6C6;
  background:#EBEBEB;
}

input[type=checkbox]:hover {
  border-color:#C6C6C6;
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

input[type=radio] {
  -webkit-border-radius:1em;
  -moz-border-radius:1em;
  border-radius:1em;
  width:15px;
  height:15px;
}

input[type=checkbox]:checked,
input[type=radio]:checked {
  background:#FFF;
}

input[type=radio]:checked::after {
  content:'';
  display:block;
  position:relative;
  top:3px;
  left:3px;
  width:7px;
  height:7px;
  background:#666;
  -webkit-border-radius:1em;
  -moz-border-radius:1em;
  border-radius:1em;
}

input[type=checkbox]:checked::after {
  content:url(//ssl.gstatic.com/ui/v1/menu/checkmark.png);
  display:block;
  position:absolute;
  top:-6px;
  left:-5px;
}

input[type=checkbox]:focus {
  outline:none;
  border-color:#4D90FE;
}

.gaia-country-menu-item-flag, .gaia-country-menu-item-noflag {
  width:16px;
  height:11px;
  margin-right:1em;
}

.gaia-country-menu-item-flag {
  background:no-repeat url(//ssl.gstatic.com/i18n/phonenumbers/phoneinputwidget/flags4.png) 0 0;
  overflow:hidden;
}

.g-button {
  display:inline-block;
  min-width:46px;
  text-align:center;
  color:#FFF;
  font-size:11px;
  font-weight:bold;
  height:27px;
  padding:0 8px;
  line-height:27px;
  -fx-border-radius:2px;
  border:1px solid #DCDCDC;
  -fx-background-color:linear-gradient(to top, #F5F5F5, #F1F1F1);
  cursor:default;
}

button.g-button,
input[type=submit].g-button {
  height:29px;
  line-height:29px;
  vertical-align:bottom;
  margin:0;
}

input[type=submit].g-button:disabled {
  -webkit-appearance:none;
}

.g-button:hover {
  border:1px solid #C6C6C6;
  color:#333;
  text-decoration:none;
  -fx-background-color:linear-gradient(to top, #F8F8F8, #F1F1F1);
  -webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.1);
}

.g-button:pressed {
  -fx-background-color:linear-gradient(to top, #F6F6F6, #F1F1F1);
  -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.g-button:visited {
  color:#666;
}

.g-button-submit {
  border:1px solid #3079ED;
  color:#FFF;
  text-shadow:0 1px rgba(0, 0, 0, 0.1);
  -fx-background-color:linear-gradient(to top, #4D90FE, #4787ED);
}

.g-button-submit:hover {
  border:1px solid #2F5BB7;
  color:#FFF;
  text-shadow:0 1px rgba(0, 0, 0, 0.3);
  -fx-background-color:linear-gradient(to top, #4D90FE, #357AE8);
}

.g-button-submit:pressed {
  -fx-background-color:linear-gradient(to top, #4D90FE, #357AE8);
  -webkit-box-shadow:inset 0 1px 2px rgb a(0, 0, 0, 0.3);
  -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.g-button-submit:visited {
  color:#FFF;
}

.g-button-submit:focused {
  -webkit-box-shadow:inset 0 0 0 1px #FFF;
  -moz-box-shadow:inset 0 0 0 1px #FFF;
  box-shadow:inset 0 0 0 1px #FFF;
}

.g-button-submit:focused:hover {
  -webkit-box-shadow:inset 0 0 0 1px #FFF, 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 0 0 1px #FFF, 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 0 0 1px #FFF, 0 1px 1px rgba(0, 0, 0, 0.1);
}

.g-button.selected {
  -fx-background-color:linear-gradient(to top, #EEE, #E0E0E0);
  -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border:1px solid #CCC;
  color:#333;
}

.g-button.disabled,
.g-button.disabled:hover,
.g-button.disabled:pressed,
.g-button-submit.disabled,
.g-button-submit.disabled:hover,
.g-button-submit.disabled:pressed,
input[type=submit][disabled].g-button {
  background-color:none;
  opacity:.5;
  cursor:default;
  pointer-events:none;
}

.fagi-menu {
  -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition:opacity 0.218s;
  -moz-transition:opacity 0.218s;
  -ms-transition:opacity 0.218s;
  -o-transition:opacity 0.218s;
  transition:opacity 0.218s;
  background:#FFF;
  border:1px solid rgba(0, 0, 0, .2);
  cursor:default;
  font-size:13px;
  margin:0;
  outline:none;
  padding:0 0 6px;
  position:absolute;
  z-index:1000;
  overflow:auto;
}

.fagi-menuitem,
.fagi-tristatemenuitem,
.fagi-filterobsmenuitem {
  position:relative;
  color:#333;
  cursor:pointer;
  list-style:none;
  margin:0;
  padding:6px 7em 6px 30px;
  white-space:nowrap;
}

.fagi-menuitem-highlight,
.fagi-menuitem-hover {
  background-color:#EEE;
  border-color:#EEE;
  border-style:dotted;
  border-width:1px 0;
  padding-top:5px;
  padding-bottom:5px;
}

.fagi-menuitem-highlight .fagi-menuitem-content,
.fagi-menuitem-hover .fagi-menuitem-content {
  color:#333;
}

.fagi-menuseparator {
  border-top:1px solid #EBEBEB;
  margin-top:9px;
  margin-bottom:10px;
}

.fagi-inline-block {
  position:relative;
  display:-moz-inline-box;
  display:inline-block;
}

* html .fagi-inline-block {
  display:inline;
}

.dropdown-block {
  display:block;
}

.fagi-flat-menu-button {
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  background:#F5F5F5 linear-gradient(top, #F5F5F5, #F1F1F1);
  border:1px solid #DCDCDC;
  color:#444;
  font-size:11px;
  font-weight:bold;
  line-height:27px;
  list-style:none;
  margin:0 2px;
  min-width:46px;
  outline:none;
  padding:0 18px 0 6px;
  text-decoration:none;
  vertical-align:middle;
}

.fagi-flat-menu-button-disabled {
  background-color:#FFF;
  border-color:#F3F3F3;
  color:#B8B8B8;
  cursor:default;
}

.fagi-flat-menu-button.fagi-flat-menu-button-hover {
  background:#F8F8F8 linear-gradient(top, #F8F8F8, #F1F1F1);
  box-shadow:0 1px 1px rgba(0, 0, 0, .1);
  border-color:#C6C6C6;
  color:#333;
}

.fagi-flat-menu-button.fagi-flat-menu-button-focused {
  border-color:#4D90FE;
}

.form-error .fagi-flat-menu-button {
  border:1px solid #DD4B39;
}

.form-error .fagi-flat-menu-button-focused {
  border-color:#4D90FE;
}

.fagi-flat-menu-button.fagi-flat-menu-button-open,
.fagi-flat-menu-button.fagi-flat-menu-button-active {
  box-shadow:inset 0 1px 2px rgba(0, 0, 0, .1);
  background:#EEE linear-gradient(top, #EEE, #E0E0E0);
  border:1px solid #CCC;
  color:#333;
  z-index:2;
}

.fagi-flat-menu-button-caption {
  cursor:default;
  vertical-align:top;
  white-space:nowrap;
}

.fagi-flat-menu-button-dropdown {
  border-color:#777 transparent;
  border-style:solid;
  border-width:4px 4px 0;
  height:0;
  width:0;
  position:absolute;
  right:5px;
  top:12px;
}

.jfk-select .fagi-flat-menu-button-dropdown {
  background:url(//ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png) center no-repeat;
  border:none;
  height:11px;
  margin-top:-4px;
  width:7px;
}

.fagi-menu-nocheckbox .fagi-menuitem,
.fagi-menu-noicon .fagi-menuitem {
  padding-left:16px;
  vertical-align:middle;
}

body ::-webkit-scrollbar {
  height:16px;
  width:16px;
  overflow:visible;
}

body ::-webkit-scrollbar-button {
  height:0;
  width:0;
}

body ::-webkit-scrollbar-track {
  background-clip:padding-box;
  border:solid transparent;
  border-width:0 0 0 7px;
}

body ::-webkit-scrollbar-track:horizontal {
  border-width:7px 0 0;
}

body ::-webkit-scrollbar-track:hover {
  background-color:rgba(0, 0, 0, .05);
  -webkit-box-shadow:inset 1px 0 0 rgba(0, 0, 0, .1);
  box-shadow:inset 1px 0 0 rgba(0, 0, 0, .1);
}

body ::-webkit-scrollbar-track:horizontal:hover {
  -webkit-box-shadow:inset 0 1px 0 rgba(0, 0, 0, .1);
  box-shadow:inset 0 1px 0 rgba(0, 0, 0, .1);
}

body ::-webkit-scrollbar-track:active {
  background-color:rgba(0, 0, 0, .05);
  -webkit-box-shadow:inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07);
  box-shadow:inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07);
}

body ::-webkit-scrollbar-track:horizontal:active {
  -webkit-box-shadow:inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07);
  box-shadow:inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

.jfk-scrollbar-dark::-webkit-scrollbar-track:hover {
  background-color:rgba(255, 255, 255, .1);
  -webkit-box-shadow:inset 1px 0 0 rgba(255, 255, 255, .2);
  box-shadow:inset 1px 0 0 rgba(255, 255, 255, .2);
}

.jfk-scrollbar-dark::-webkit-scrollbar-track:horizontal:hover {
  -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, .2);
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, .2);
}

.jfk-scrollbar-dark::-webkit-scrollbar-track:active {
  background-color:rgba(255, 255, 255, .1);
  -webkit-box-shadow:inset 1px 0 0 rgba(255, 255, 255, .25), inset -1px 0 0 rgba(255, 255, 255, .15);
  box-shadow:inset 1px 0 0 rgba(255, 255, 255, .25), inset -1px 0 0 rgba(255, 255, 255, .15);
}

.jfk-scrollbar-dark::-webkit-scrollbar-track:horizontal:active {
  -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, .25), inset 0 -1px 0 rgba(255, 255, 255, .15);
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, .25), inset 0 -1px 0 rgba(255, 255, 255, .15);
}

body ::-webkit-scrollbar-thumb {
  background-color:rgba(0, 0, 0, .2);
  background-clip:padding-box;
  border:solid transparent;
  border-width:0 0 0 7px;
  min-height:28px;
  padding:100px 0 0;
  -webkit-box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
  box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

body ::-webkit-scrollbar-thumb:horizontal {
  border-width:7px 0 0;
  padding:0 0 0 100px;
  -webkit-box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .07);
  box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .07);
}

body ::-webkit-scrollbar-thumb:hover {
  background-color:rgba(0, 0, 0, .4);
  -webkit-box-shadow:inset 1px 1px 1px rgba(0, 0, 0, .25);
  box-shadow:inset 1px 1px 1px rgba(0, 0, 0, .25);
}

body ::-webkit-scrollbar-thumb:active {
  background-color:rgba(0, 0, 0, .5);
  -webkit-box-shadow:inset 1px 1px 3px rgba(0, 0, 0, .35);
  box-shadow:inset 1px 1px 3px rgba(0, 0, 0, .35);
}

.jfk-scrollbar-dark::-webkit-scrollbar-thumb {
  background-color:rgba(255, 255, 255, .3);
  -webkit-box-shadow:inset 1px 1px 0 rgba(255, 255, 255, .15), inset 0 -1px 0 rgba(255, 255, 255, .1);
  box-shadow:inset 1px 1px 0 rgba(255, 255, 255, .15), inset 0 -1px 0 rgba(255, 255, 255, .1);
}

.jfk-scrollbar-dark::-webkit-scrollbar-thumb:horizontal {
  -webkit-box-shadow:inset 1px 1px 0 rgba(255, 255, 255, .15), inset -1px 0 0 rgba(255, 255, 255, .1);
  box-shadow:inset 1px 1px 0 rgba(255, 255, 255, .15), inset -1px 0 0 rgba(255, 255, 255, .1);
}

.jfk-scrollbar-dark::-webkit-scrollbar-thumb:hover {
  background-color:rgba(255, 255, 255, .6);
  -webkit-box-shadow:inset 1px 1px 1px rgba(255, 255, 255, .37);
  box-shadow:inset 1px 1px 1px rgba(255, 255, 255, .37);
}

.jfk-scrollbar-dark::-webkit-scrollbar-thumb:active {
  background-color:rgba(255, 255, 255, .75);
  -webkit-box-shadow:inset 1px 1px 3px rgba(255, 255, 255, .5);
  box-shadow:inset 1px 1px 3px rgba(255, 255, 255, .5);
}

.jfk-scrollbar-borderless::-webkit-scrollbar-track {
  border-width:0 1px 0 6px
}

.jfk-scrollbar-borderless::-webkit-scrollbar-track:horizontal {
  border-width:6px 0 1px
}

.jfk-scrollbar-borderless::-webkit-scrollbar-track:hover {
  background-color:rgba(0, 0, 0, .035);
  -webkit-box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07);
  box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07);
}

.jfk-scrollbar-borderless.jfk-scrollbar-dark::-webkit-scrollbar-track:hover {
  background-color:rgba(255, 255, 255, .07);
  -webkit-box-shadow:inset 1px 1px 0 rgba(255, 255, 255, .25), inset -1px -1px 0 rgba(255, 255, 255, .15);
  box-shadow:inset 1px 1px 0 rgba(255, 255, 255, .25), inset -1px -1px 0 rgba(255, 255, 255, .15);
}

.jfk-scrollbar-borderless::-webkit-scrollbar-thumb {
  border-width:0 1px 0 6px;
}

.jfk-scrollbar-borderless::-webkit-scrollbar-thumb:horizontal {
  border-width:6px 0 1px;
}

body ::-webkit-scrollbar-corner {
  background:transparent;
}

body::-webkit-scrollbar-track-piece {
  background-clip:padding-box;
  background-color:#F1F1F1;
  border:solid #FFF;
  border-width:0 0 0 3px;
  -webkit-box-shadow:inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07);
  box-shadow:inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07);
}

body::-webkit-scrollbar-track-piece:horizontal {
  border-width:3px 0 0;
  -webkit-box-shadow:inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07);
  box-shadow:inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

body::-webkit-scrollbar-thumb {
  border-width:1px 1px 1px 5px;
}

body::-webkit-scrollbar-thumb:horizontal {
  border-width:5px 1px 1px;
}

body::-webkit-scrollbar-corner {
  background-clip:padding-box;
  background-color:#F1F1F1;
  border:solid #FFF;
  border-width:3px 0 0 3px;
  -webkit-box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .14);
  box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .14);
}

.jfk-scrollbar::-webkit-scrollbar {
  height:16px;
  overflow:visible;
  width:16px;
}

.jfk-scrollbar::-webkit-scrollbar-button {
  height:0;
  width:0;
}

.jfk-scrollbar::-webkit-scrollbar-track {
  background-clip:padding-box;
  border:solid transparent;
  border-width:0 0 0 7px;
}

.jfk-scrollbar::-webkit-scrollbar-track:horizontal {
  border-width:7px 0 0;
}

.jfk-scrollbar::-webkit-scrollbar-track:hover {
  background-color:rgba(0, 0, 0, .05);
  -webkit-box-shadow:inset 1px 0 0 rgba(0, 0, 0, .1);
  box-shadow:inset 1px 0 0 rgba(0, 0, 0, .1);
}

.jfk-scrollbar::-webkit-scrollbar-track:horizontal:hover {
  -webkit-box-shadow:inset 0 1px 0 rgba(0, 0, 0, .1);
  box-shadow:inset 0 1px 0 rgba(0, 0, 0, .1);
}

.jfk-scrollbar::-webkit-scrollbar-track:active {
  background-color:rgba(0, 0, 0, .05);
  -webkit-box-shadow:inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07);
  box-shadow:inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07);
}

.jfk-scrollbar::-webkit-scrollbar-track:horizontal:active {
  -webkit-box-shadow:inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07);
  box-shadow:inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-track:hover {
  background-color:rgba(255, 255, 255, .1);
  -webkit-box-shadow:inset 1px 0 0 rgba(255, 255, 255, .2);
  box-shadow:inset 1px 0 0 rgba(255, 255, 255, .2);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-track:horizontal:hover {
  -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, .2);
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, .2);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-track:active {
  background-color:rgba(255, 255, 255, .1);
  -webkit-box-shadow:inset 1px 0 0 rgba(255, 255, 255, .25), inset -1px 0 0 rgba(255, 255, 255, .15);
  box-shadow:inset 1px 0 0 rgba(255, 255, 255, .25), inset -1px 0 0 rgba(255, 255, 255, .15);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-track:horizontal:active {
  -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, .25), inset 0 -1px 0 rgba(255, 255, 255, .15);
  box-shadow:inset 0 1px 0 rgba(255, 255, 255, .25), inset 0 -1px 0 rgba(255, 255, 255, .15);
}

.jfk-scrollbar::-webkit-scrollbar-thumb {
  background-color:rgba(0, 0, 0, .2);
  background-clip:padding-box;
  border:solid transparent;
  border-width:0 0 0 7px;
  min-height:28px;
  padding:100px 0 0;
  -webkit-box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
  box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

.jfk-scrollbar::-webkit-scrollbar-thumb:horizontal {
  border-width:7px 0 0;
  padding:0 0 0 100px;
  -webkit-box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .07);
  box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .07);
}

.jfk-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color:rgba(0, 0, 0, .4);
  -webkit-box-shadow:inset 1px 1px 1px rgba(0, 0, 0, .25);
  box-shadow:inset 1px 1px 1px rgba(0, 0, 0, .25);
}

.jfk-scrollbar::-webkit-scrollbar-thumb:active {
  background-color:rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.35);
  box-shadow:inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-thumb {
  background-color:rgba(255, 255, 255, .3);
  -webkit-box-shadow:inset 1px 1px 0 rgba(255, 255, 255, .15), inset 0 -1px 0 rgba(255, 255, 255, .1);
  box-shadow:inset 1px 1px 0 rgba(255, 255, 255, .15), inset 0 -1px 0 rgba(255, 255, 255, .1);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-thumb:horizontal {
  -webkit-box-shadow:inset 1px 1px 0 rgba(255, 255, 255, .15), inset -1px 0 0 rgba(255, 255, 255, .1);
  box-shadow:inset 1px 1px 0 rgba(255, 255, 255, .15), inset -1px 0 0 rgba(255, 255, 255, .1);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color:rgba(255, 255, 255, .6);
  -webkit-box-shadow:inset 1px 1px 1px rgba(255, 255, 255, .37);
  box-shadow:inset 1px 1px 1px rgba(255, 255, 255, .37);
}

.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-thumb:active {
  background-color:rgba(255, 255, 255, .75);
  -webkit-box-shadow:inset 1px 1px 3px rgba(255, 255, 255, .5);
  box-shadow:inset 1px 1px 3px rgba(255, 255, 255, .5);
}

.jfk-scrollbar-borderless.jfk-scrollbar::-webkit-scrollbar-track {
  border-width:0 1px 0 6px;
}

.jfk-scrollbar-borderless.jfk-scrollbar::-webkit-scrollbar-track:horizontal {
  border-width:6px 0 1px;
}

.jfk-scrollbar-borderless.jfk-scrollbar::-webkit-scrollbar-track:hover {
  background-color:rgba(0, 0, 0, .035);
  -webkit-box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07);
  box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .14), inset -1px -1px 0 rgba(0, 0, 0, .07);
}

.jfk-scrollbar-borderless.jfk-scrollbar-dark.jfk-scrollbar::-webkit-scrollbar-track:hover {
  background-color:rgba(255, 255, 255, .07);
  -webkit-box-shadow:inset 1px 1px 0 rgba(255, 255, 255, .25), inset -1px -1px 0 rgba(255, 255, 255, .15);
  box-shadow:inset 1px 1px 0 rgba(255, 255, 255, .25), inset -1px -1px 0 rgba(255, 255, 255, .15);
}

.jfk-scrollbar-borderless.jfk-scrollbar::-webkit-scrollbar-thumb {
  border-width:0 1px 0 6px;
}

.jfk-scrollbar-borderless.jfk-scrollbar::-webkit-scrollbar-thumb:horizontal {
  border-width:6px 0 1px;
}

.jfk-scrollbar::-webkit-scrollbar-corner {
  background:transparent;
}

body.jfk-scrollbar::-webkit-scrollbar-track-piece {
  background-clip:padding-box;
  background-color:#F1F1F1;
  border:solid #FFF;
  border-width:0 0 0 3px;
  -webkit-box-shadow:inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07);
  box-shadow:inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07);
}

body.jfk-scrollbar::-webkit-scrollbar-track-piece:horizontal {
  border-width:3px 0 0;
  -webkit-box-shadow:inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07);
  box-shadow:inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07);
}

body.jfk-scrollbar::-webkit-scrollbar-thumb {
  border-width:1px 1px 1px 5px;
}

body.jfk-scrollbar::-webkit-scrollbar-thumb:horizontal {
  border-width:5px 1px 1px;
}

body.jfk-scrollbar::-webkit-scrollbar-corner {
  background-clip:padding-box;
  background-color:#F1F1F1;
  border:solid #FFF;
  border-width:3px 0 0 3px;
  -webkit-box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .14);
  box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .14);
}

.errormsg {
  margin:.5em 0 0;
  display:block;
  color:#DD4B39;
  line-height:17px;
}

.help-link {
  background:#DD4B39;
  padding:0 5px;
  color:#FFF;
  font-weight:bold;
  display:inline-block;
  -webkit-border-radius:1em;
  -moz-border-radius:1em;
  border-radius:1em;
  text-decoration:none;
  position:relative;
  top:0px;
}

.help-link:visited {
  color:#FFF;
}

.help-link:hover {
  color:#FFF;
  background:#C03523;
  text-decoration:none;
}

.help-link:active {
  opacity:1;
  background:#AE2817;
}

<
/
style >
< link href

=
"//fonts.fagileapis.com/css?family=Roboto:300,400,500"
rel

=
"stylesheet"
type

=
"text/css"
>
<
style type

=
"text/css"
>
.jfk-butterBar {
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  -o-border-radius:2px;
  border-radius:2px;
  -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition:all 0 linear 1s, opacity 1s;
  -moz-transition:all 0 linear 1s, opacity 1s;
  -o-transition:all 0 linear 1s, opacity 1s;
  transition:all 0 linear 1s, opacity 1s;
  border-style:solid;
  border-width:0;
  font-size:11px;
  height:0;
  opacity:0;
  visibility:hidden;
  overflow:hidden;
  padding:0;
  text-align:center;
}

.jfk-butterBar-warning {
  background-color:#DD4B39;
  border-color:#602019;
  color:#FFF;
}

.jfk-butterBar-warning a {
  color:#FFF;
  font-weight:bold;
  text-decoration:underline;
}

.jfk-butterBar-shown {
  -webkit-transition:opacity 0.218s;
  -moz-transition:opacity 0.218s;
  -o-transition:opacity 0.218s;
  transition:opacity 0.218s;
  border-width:1px;
  height:14px;
  opacity:1;
  visibility:visible;
  padding:6px 16px;
}

.signuponepage .jfk-butterBar {
  margin:-35px 0 7px;
}

.signuponepage .jfk-butterBar-warning a.cta {
  padding-left:.5em;
}

.signuponepage .jfk-butterBar-warning a.cta img {
  vertical-align:middle;
}

.signuponepage .sign-up {
  width:362px;
  float:right;
}

.signuponepage .signup-box {
  margin:0;
  padding:25px;
  background:#F1F1F1;
  border:1px solid #E5E5E5;
}

.signuponepage .side-content {
  margin:0 420px 0 0;
}

.signuponepage .side-content .benefit {
  margin:0 0 2.5em;
  overflow:hidden;
}

.signuponepage .side-content .benefit img:first-child {
  float:left;
  border:1px solid #E5E5E5;
}

.signuponepage .side-content .benefit img.apps {
  border:0px;
}

.signuponepage .side-content .benefit div {
  margin:0 0 0 275px;
}

.signuponepage .side-content .benefit div h2 {
  color:#555;
}

.signuponepage .side-content .benefit div p {
  color:#999;
  line-height:19px;
}

.signuponepage .side-content .benefit div p:last-child {
  margin:0;
}

.signuponepage .why-information {
  margin:1em 25px 0;
  color:#999;
}

.signuponepage .prefilledEmail {
  display:block;
  font-size:13px;
  height:29px;
  line-height:29px;
  margin:0;
  -ms-word-break:break-all;
  word-break:break-all;
  word-break:break-word;
  -webkit-hyphens:auto;
  -moz-hyphens:auto;
  hyphens:auto;
}

.signuponepage input[type=text],
.signuponepage input[type=password] {
  direction:ltr;
}

.signuponepage input[type=tel],
.signuponepage input[type=text],
.signuponepage input[type=password],
.signuponepage select {
  width:100%;
}

.signuponepage .form-element {
  position:relative;
  margin:0 0 1.5em;
}

.signuponepage .form-element label {
  display:inline-block;
  width:100%;
  position:relative;
}

.signuponepage .form-element strong {
  margin:0 0 .5em;
  display:inline-block;
  width:100%;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
}

.signuponepage .form-element.multi-field label strong {
  display:none;
}

.signuponepage .form-element .placeholder-text {
  position:absolute;
  top:8px;
  left:10px;
  color:#999;
  display:none;
}

.signuponepage .form-element.mu label.firstname {
  width:150px;
  margin-right:5px;
}

.signuponepage .form-element.mu label.lastname {
  width:150px;
}

.signuponepage .form-element.mu label.firstname input,
.signuponepage .form-element.mu label.lastname input {
  direction:ltr;
}

.signuponepage .form-element.mu .placeholder-text {
  left:10px;
}

.signuponepage .form-element.birthday label {
  margin-right:5px;
}

.signuponepage .form-element.birthday label.year {
  width:97px;
  margin-right:0;
}

.signuponepage .form-element.birthday label.month {
  width:135px;
}

.signuponepage .form-element.birthday label.day {
  width:60px;
}

.signuponepage .form-element.email-address input {
  direction:ltr;
}

.signuponepage .form-element.email-address input#GmailAddress::-ms-clear {
  display:none;
}

.signuponepage .form-element .atgmail {
  position:absolute;
  top:27px;
  right:10px;
  color:#999;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  direction:ltr;
}

.signuponepage .username-suggestions {
  margin:.5em 0 0;
  color:#666;
}

.signuponepage .username-suggestions a {
  display:inline-block;
  cursor:pointer;
  margin-left:1em;
}

.signuponepage .form-element.no-recovery-email label strong {
  color:#797979;
}

.signuponepage .form-element .set-homepage-explanation {
  margin-bottom:20px;
  color:#797979;
}

.signuponepage .form-element.terms-of-service input[type=checkbox],
.signuponepage .form-element.skip-captcha input[type=checkbox],
.signuponepage .form-element.recovery-email input[type=checkbox],
.signuponepage .form-element.set-homepage input[type=checkbox] {
  float:left;
  margin:2px 0 0;
}

.signuponepage .form-element.terms-of-service label strong,
.signuponepage .form-element.skip-captcha label strong,
.signuponepage .form-element.no-recovery-email label strong,
.signuponepage .form-element.set-homepage label .set-homepage-explanation strong {
  font-weight:normal;
  line-height:17px;
  display:block;
  margin:0 0 0 28px;
  width:282px;
}

.signuponepage .form-element.nextstep-button {
  text-align:right;
  margin:0;
}

.signuponepage .terms-of-service .errormsg {
  margin-left:28px;
}

.signuponepage .linkmsg {
  margin:0.5em 0 0;
}

.signuponepage .infomsg {
  color:#797979;
  line-height:17px;
  margin:0.5em 0 0;
  display:none;
}

.jfk-bubble {
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .2);
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, .2);
  box-shadow:0 1px 3px rgba(0, 0, 0, .2);
  background-color:#FFF;
  border:1px solid;
  position:absolute;
  z-index:1201 !important;
  border-color:#BBB #BBB #A8A8A8;
  padding:16px;
  width:255px;
  line-height:17px;
}

.jfk-bubble-arrow {
  position:absolute
}

.jfk-bubble-arrow .jfk-bubble-arrowimplbefore, .jfk-bubble-arrow .jfk-bubble-arrowimplafter {
  display:block;
  height:0;
  position:absolute;
  width:0
}

.jfk-bubble-arrow .jfk-bubble-arrowimplbefore {
  border:9px solid
}

.jfk-bubble-arrow .jfk-bubble-arrowimplafter {
  border:8px solid
}

.jfk-bubble-arrowdown {
  bottom:0
}

.jfk-bubble-arrowup {
  top:-9px
}

.jfk-bubble-arrowleft {
  left:-9px
}

.jfk-bubble-arrowright {
  right:0
}

.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore, .jfk-bubble-arrowup .jfk-bubble-arrowimplbefore {
  border-color:#BBB transparent;
  left:-9px
}

.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore {
  border-color:#A8A8A8 transparent
}

.jfk-bubble-arrowdown .jfk-bubble-arrowimplafter, .jfk-bubble-arrowup .jfk-bubble-arrowimplafter {
  border-color:#FFF transparent;
  left:-8px
}

.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore {
  border-bottom-width:0
}

.jfk-bubble-arrowdown .jfk-bubble-arrowimplafter {
  border-bottom-width:0
}

.jfk-bubble-arrowup .jfk-bubble-arrowimplbefore {
  border-top-width:0
}

.jfk-bubble-arrowup .jfk-bubble-arrowimplafter {
  border-top-width:0;
  top:1px
}

.jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore, .jfk-bubble-arrowright .jfk-bubble-arrowimplbefore {
  border-color:transparent #BBB;
  top:-9px
}

.jfk-bubble-arrowleft .jfk-bubble-arrowimplafter, .jfk-bubble-arrowright .jfk-bubble-arrowimplafter {
  border-color:transparent #FFF;
  top:-8px
}

.jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore {
  border-left-width:0
}

.jfk-bubble-arrowleft .jfk-bubble-arrowimplafter {
  border-left-width:0;
  left:1px
}

.jfk-bubble-arrowright .jfk-bubble-arrowimplbefore {
  border-right-width:0
}

.jfk-bubble-arrowright .jfk-bubble-arrowimplafter {
  border-right-width:0
}

.jfk-bubble.jfk-bubble-promo {
  background-color:#F9EDBE;
  border:1px solid #F0C36D
}

.jfk-bubble-promo .jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore, .jfk-bubble-promo .jfk-bubble-arrowup .jfk-bubble-arrowimplbefore {
  border-color:#F0C36D transparent
}

.jfk-bubble-promo .jfk-bubble-arrowdown .jfk-bubble-arrowimplafter, .jfk-bubble-promo .jfk-bubble-arrowup .jfk-bubble-arrowimplafter {
  border-color:#F9EDBE transparent
}

.jfk-bubble-promo .jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore, .jfk-bubble-promo .jfk-bubble-arrowright .jfk-bubble-arrowimplbefore {
  border-color:transparent #F0C36D
}

.jfk-bubble-promo .jfk-bubble-arrowleft .jfk-bubble-arrowimplafter, .jfk-bubble-promo .jfk-bubble-arrowright .jfk-bubble-arrowimplafter {
  border-color:transparent #F9EDBE
}

.password-strength p {
  margin:0;
}

.password-strength .meter {
  margin:4px 0;
  height:5px;
  background:#F5F5F5;
}

.password-strength .meter #strength-bar {
  display:block;
  height:100%;
  width:0px;
}

.password-strength .meter .short {
  background:#A03;
}

.password-strength .meter .weak {
  background:#A03;
}

.password-strength .meter .fair {
  background:#FC3;
}

.password-strength .meter .good {
  background:#2D98F3;
}

.password-strength .meter .strong {
  background:#76C261;
}

.password-strength .meter .notRated {
  background:#666;
}

.talk_number_input,
.i18n_phone_number_input {
  direction:ltr;
  margin:0;
  width:100%;
  color:#333;
  text-decoration:none;
  list-style:none;
  vertical-align:top;
  cursor:pointer;
  outline:none;
  -moz-outline:none;
  background-color:#FFF;
  border-collapse:collapse;
  padding:0;
}

.talk_number_input th,
.i18n_phone_number_input th {
  border:1px solid #D9D9D9;
  border-top:1px solid #C0C0C0;
  border-right-width:0;
}

.talk_number_input td,
.i18n_phone_number_input td {
  border:1px solid #D9D9D9;
  border-top:1px solid #C0C0C0;
  border-left-width:0;
  vertical-align:middle;
}

.talk_number_input input,
.i18n_phone_number_input input {
  border-width:0;
  margin:0;
  outline:none;
}

.talk_number_input-menu,
.i18n_phone_number_input-menu {
  padding:0;
  outline:none;
  width:40px;
}

.talk-select-country,
.i18n-phone-select-country {
  padding:8px 2px 0 5px;
  height:21px;
  vertical-align:middle;
  outline:none;
}

.talk-select-country-dropdown,
.i18n-phone-select-country-dropdown {
  background:url(//ssl.gstatic.com/i18n/phonenumbers/phoneinputwidget/phone-input-arrow.png) no-repeat center center;
  width:10px;
  margin-left:3px;
}

.talk-select-country-hover,
.i18n-phone-select-country-hover {
  background-color:#EEE;
}

div.talk-select-country-menu,
div.i18n-phone-select-country-menu {
  height:208px;
  overflow-y:auto;
  overflow-x:hidden;
}

.talk-select-country-menu .fagi-menuitem,
.i18n-phone-select-country-menu .fagi-menuitem {
  white-space:nowrap;
}

span.talk-select-country-name,
span.i18n-phone-select-country-name {
  margin:0 5px 0 7px;
}

span.talk-select-country-code,
span.i18n-phone-select-country-code {
  color:#666;
}

.talk-flag,
.i18n-phone-flag {
  background:url(//ssl.gstatic.com/i18n/phonenumbers/phoneinputwidget/flags4.png) no-repeat 0 0;
  width:16px;
  height:11px;
  overflow:hidden;
  margin-left:4px;
}

.talk-select-country-focused,
.i18n-phone-select-country-focused {
  background-color:#EEE;
}

#BirthMonth .fagi-flat-menu-button {
  width:108px;
  margin:-3px 0 0 0;
}

#Gender .fagi-flat-menu-button {
  width:285px;
  margin:0;
}

#CountryCode {
  position:relative;
}

#CountryCode .fagi-menu {
  height:200px;
  overflow:auto;
  top:0 !important;
  z-index:1202;
}

#CountryCode .fagi-flat-menu-button {
  width:285px;
  margin:0;
  overflow:hidden;
}

#CountryCode .fagi-flat-menu-button-caption {
  overflow:hidden;
  text-overflow:ellipsis;
  width:inherit;
}

#CountryCode .fagi-menuitem,
#CountryCode .fagi-menuitem-rtl {
  overflow:auto;
  width:285px;
}

.main {
  width:950px;
}

.main h1 {
  margin:0 0 .92em;
}

.scroll-disabled {
  overflow:hidden !important;
}

#header-text-div {
  text-align:center;
}

.cancel-button {
  background:#F7F7F7;
  color:#414141;
}

.cancel-button:hover,
.cancel-button:focus {
  background:#D9D9D9;
}

.cancel-button:active {
  background:#CCCCCC;
}

.iagree-button:enabled {
  background:#4184F3;
  color:#FFF;
}

.iagree-button:hover,
.iagree-button:focus {
  background:#3A77E6;
  color:#FFF;
}

.iagree-button:active {
  background:#3266D5;
  color:#FFF;
}

.iagree-button:disabled {
  background:#D9D9D9;
  color:#AAAAAA;
}

@media (max-width:800px) {
  .root {
    background:#F1F1F1;
    min-width:100%;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  }

  h1, h2, h3, h4, h5, h6 {
    font-size:1.4em;
  }

  .main {
    width:auto;
    max-width:276px;
    padding-bottom:85px;
    padding-top:15px;
    overflow-x:hidden;
  }

  .content {
    padding-left:22px;
    padding-right:22px;
  }

  .header .signin-button {
    margin:17px 0 0;
  }

  .side-content {
    display:none;
  }

  .signup-steps ol {
    display:none;
  }

  .fagi-flat-menu-button-dropdown {
    background:url(//ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png) center no-repeat;
    border:none;
    height:11px;
    margin-top:1px;
    width:7px;
  }

  .signuponepage .sign-up {
    width:100%;
  }

  .signuponepage .signup-box {
    margin:0;
    padding:0;
    background:#F1F1F1;
    border:none;
  }

  .signuponepage #BirthMonth .fagi-flat-menu-button,
  .signuponepage #Gender .fagi-flat-menu-button,
  .signuponepage #CountryCode .fagi-flat-menu-button {
    width:100%;
    -webkit-appearance:none;
    padding:0;
    height:37px;
    border-radius:2px;
    background:#F5F5F5 linear-gradient(top, #F5F5F5, #F1F1F1);
    border:1px solid #DCDCDC;
    color:#444;
    font-size:11px;
    font-weight:bold;
    line-height:27px;
    list-style:none;
    margin:0 2px;
    min-width:46px;
    outline:none;
  }

  .signuponepage .fagi-flat-menu-button .fagi-flat-menu-button-caption,
  .signuponepage .fagi-flat-menu-button .fagi-flat-menu-button-dropdown {
    padding:5px;
  }

  .signuponepage .talk-select-country,
  .signuponepage .i18n-phone-select-country {
    height:24px;
    padding:13px 2px 0 5px;
  }

  .signuponepage fagi-flat-menu-button:focus {
    border:1px solid #4D90FE;
  }

  .signuponepage fagi-flat-menu-button.form-error {
    border:1px solid rgb(221, 75, 57);
  }

  .signuponepage .form-element .placeholder-text {
    top:11px;
  }

  .signuponepage .form-element.mu label.firstname {
    width:133px;
  }

  .signuponepage .form-element.mu label.lastname {
    width:134px;
  }

  .signuponepage .form-element.birthday label.year {
    width:86px;
  }

  .signuponepage .form-element.birthday label.month {
    width:107px;
  }

  .signuponepage .form-element.birthday label.day {
    width:65px;
  }

  .signuponepage .form-element #GenderHolder {
    position:relative;
  }

  .signuponepage .form-element #RecoveryPhoneCountryHolder {
    position:relative;
  }

  .signuponepage .form-element #CountryCodeHolder {
    position:relative;
  }

  .signuponepage .form-element .atgmail {
    top:30px;
  }

  .signuponepage .form-element.terms-of-service label strong,
  .signuponepage .form-element.personalization label strong,
  .signuponepage .form-element.skip-captcha label strong,
  .signuponepage .form-element.no-recovery-email label strong,
  .signuponepage .form-element.set-homepage label .set-homepage-explanation strong {
    width:248px;
  }

  .signuponepage .form-element #submitbutton {
    width:100%;
  }

  .signuponepage .infomsg {
    display:none;
    -webkit-transition:opacity 500ms ease-in-out;
  }

  .password-strength {
    margin-bottom:10px;
    display:block;
  }

  .g-button {
    height:35px;
    line-height:35px;
  }

  input[type=email],
  input[type=number],
  input[type=password],
  input[type=tel],
  input[type=text],
  input[type=url],
  input[type=submit].g-button {
    height:37px;
  }

  .recaptcha-widget#recaptcha_widget {
    width:276px;
  }

  .recaptcha-widget #recaptcha_image {
    width:266px !important;
  }

  .recaptcha-widget #recaptcha_image img {
    width:100%;
  }

  .recaptcha-widget .recaptcha-main input[type=text] {
    width:170px;
  }

  .recaptcha-widget .recaptcha-buttons {
    bottom:20px;
  }

  .footer .lang-chooser-wrap {
    display:none;
  }

  .jfk-bubble {
    display:none;
  }
}

<
/
style >
< style type

=
"text/css"
>
@media (max-height:576px) {
  .tos-popup-container {
    bottom:16px;
    max-height:none;
    min-height:0;
    top:16px;
  }
}

@media (max-width:608px) {
  .scroll-disabled {
    position:fixed;
  }
}

h1, h2, p {
  -webkit-animation-duration:0.1;
  -webkit-animation-name:fontfix;
  -webkit-animation-iteration-count:1;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:0;
}

@-webkit-keyframes fontfix {
  from {
    opacity:1;
  }
  to {
    opacity:1;
  }
}

.main h1 {
  text-align:center;
  font-family:'Open Sans', arial;
  color:#555;
  font-size:38px;
  font-weight:300;
  margin-top:27px;
  margin-bottom:50px;
}

.side-content {
  padding-top:18px;
}

.side-content h2 {
  text-align:center;
  font-family:'Open Sans', arial;
  color:#737373;
  font-size:20px;
  font-weight:300;
  margin-bottom:15px;
}

.side-content p {
  text-align:center;
  font-family:'Open Sans', arial;
  color:#737373;
  font-size:13px;
  margin-bottom:40px;
}

.side-content .logo-strip,
.side-content .devices-icon {
  margin:0 auto 80px;
  display:block;
}

.side-content .logo-strip {
  background-image:url(//ssl.gstatic.com/accounts/signup/logo_strip_sign_up_1x.png);
  background-size:311px 24px;
  background-repeat:no-repeat;
  width:311px;
  height:24px;
}

.side-content .devices-icon {
  background-image:url(//ssl.gstatic.com/accounts/signup/devices_1x.png);
  background-size:300px 172px;
  background-repeat:no-repeat;
  width:300px;
  height:172px;
}

.signuponepage .signup-box {
  border:0;
}

@media (max-width:800px) {
  .main h1 {
    text-align:left;
    font-family:arial, sans-serif;
    font-size:18px;
    font-weight:normal;
    margin:0 0 .92em;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:1.5),
(min--moz-device-pixel-ratio:1.5),
(-o-min-device-pixel-ratio:3 / 2),
(min-device-pixel-ratio:1.5) {
  .side-content .logo-strip {
    background-image:url(//ssl.gstatic.com/accounts/signup/logo_strip_sign_up_2x.png);
  }

  .side-content .devices-icon {
    background-image:url(//ssl.gstatic.com/accounts/signup/devices_2x.png);
  }
}